//FONTS
$title-font: 'Archivo', sans-serif;
$body-font: 'Roboto', sans-serif;

//COLORS
$dark-color: #3a403b;
$dark-color-transparent: rgba(58,64,59, .7);
$dark-color-transparent-light: rgba(58,64,59, .3);
$light-color: #feffff;

//BORDERS
$light-border: 2px solid #feffff;
$dark-border:2px solid  #3a403b;


//MIXINS
@mixin flex-rules($direction, $justify) {
  align-items: center;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify
}

@mixin button-rules() {
  background-color: $dark-color;
  border: $light-border;
  border-radius: 10px;
  color: $light-color;
  &:hover {
    border: $dark-border;
    background-color: $light-color;
    color: $dark-color;
  }
}