@import 'aside';
@import 'destination-cards';
@import 'header';
@import 'pop-up';
@import 'main';
@import 'trip-cards';
@import 'variables-mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/river-canyon.jpg');
  background-size: 100%;
  font-family: $body-font
}

.hide {
  display: none;
}